@{
    // écrire du code C#
    // Layout = null;
    Layout = "_Layout2";
    int value = 42;
    int pause = 12;
}
@* <p>Hello World!!!</p>
 *@@*commentaire : afficher une variable*@
@* <p>Ma variable = @value ou @(value * 2)</p>
 *@@if (value < 100)
{
    <p>La variable est plus petite que 100.</p>
}
else
{
    <p>Autre chose...</p>
}
@* <ul>
    @for(int i = 0; i < value; i++){
        <li>@i</li>
    }
</ul> *@

@*réception de la variable int du Controller*@ 
@if (Model >= 0)
{
    <p>Le nombre de minutes avant @pause h est @Model minutes.</p>
} else {
    <p>C'est l'heure de la pause !</p>
}