<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/BookingManager.MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>My Header</header>
    <div>
        @RenderBody()
    </div>
    <partial name="Partials/Footer"></partial>
</body>
</html>
